@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fcfcfd] text-zinc-900 font-sans antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom minimal scrollbar */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Mapbox GL styling adjustments */
.mapboxgl-ctrl-top-right {
  top: 10px;
  right: 10px;
}

.mapboxgl-ctrl-group {
  border-radius: 10px !important;
  border: 1px solid #e4e4e7 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  overflow: hidden;
}
